@{
    ViewData["Title"] = "Service Provider 2";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">Authentication with Keycloak</p>
<p>Click login or go to the Claims, Role1 or Role2 pages to authenticate.</p>