@{
    ViewData["Title"] = "Service Provider 2";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
    <h2>Authentication with Keycloak</h2>
    <p class="lead">Click login or go to the Claims page to authenticate.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>