@{
    ViewData["Title"] = "Service Provider 1";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">Login test with Identity Provider</p>
<p>Click login or go to Secure Page to login. Make sure that the IdP project is running.</p>

@if (User.Claims.Any())
{
    <div class="jumbotron">
        <h2>The users Claims (Iteration on User.Claims)</h2>
        <p>
            @foreach (var claim in User.Claims)
            {
                <strong>@claim.Type</strong> <br /> <span style="padding-left: 10px">Value: @claim.Value</span> <br />
            }
        </p>
    </div>
}